/* Reset dasar */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #ffcc00;
    padding: 20px;
}

nav {
    background-color: #333;
    padding: 10px;
}

nav a {
    color: white;
    margin-right: 15px;
    text-decoration: none;
}

main {
    padding: 20px;
}

footer {
    background-color: #f1f1f1;
    padding: 15px;
    text-align: center;
}
